import type {
{{pascalCase name}},
Create{{pascalCase name}},
Update{{pascalCase name}},
UpdatePartial{{pascalCase name}},
} from './types';

import { ResourceAPI } from '../node';

export class {{pascalCase name}}API extends ResourceAPI<
{{pascalCase name}},
Create{{pascalCase name}},
Update{{pascalCase name}},
UpdatePartial{{pascalCase name}},
> {
  constructor() {
    super('{{dashCase name}}');
  }

  // # expose from resources
  get = this._get;
  getMany = this._getMany;
  create = this._create;
  update = this._update;
  updatePartial = this._updatePartial;
  delete = this._delete;

  // add custom api here
}

export const module: APIModule = {
  name: '{{camelCase name}}',
  resource: new {{pascalCase name}}API(),
};
