export interface {{pascalCase name}} {
  id: number;
  createdAt: Date;
  [key: string]: any;
}

export interface Create{{pascalCase name}} {
  [key: string]: any;
}

export interface Update{{pascalCase name}} {
  [key: string]: any;
}

export interface UpdatePartial{{pascalCase name}} {
  [key: string]: any;
}
