GF_SECURITY_ADMIN_PASSWORD=your_admin_password_here
GF_USERS_ALLOW_SIGN_UP=true_or_false
DISCORD_WEBHOOK_URL=https://your_discord_webhook_url_here
DB.REDIS.ADDRESS=your_redis_address_here
DB.REDIS.PASSWORD=your_redis_password_here
MYSQLD_EXPORTER_PASSWORD=your_mysql_exporter_password_here
