{{ define "xid" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

// prefixMap maps XID prefixes to table names.
var prefixMap = map[string]string{
	{{- range $node := $.Nodes }}
		{{- if $annotation := $node.Annotations.XID }}
			"{{ $annotation.Prefix }}": {{ $node.Package }}.Table,
		{{- end }}
	{{- end }}
}

// IDToType maps a xid.ID to the underlying table.
func IDToType(ctx context.Context, id xid.ID) (string, error) {
	prefix:=id.Prefix()
	typ := prefixMap[prefix]
	if typ == "" {
		return "", fmt.Errorf("IDToType: could not map prefix [%s] to a type", prefix)
	}
	return typ, nil
}

{{ end }}